 <footer>
                <div class="footer clearfix mb-0 text-muted">
                    <div class="float-start">
                        <p>2020 &copy; Voler</p>
                    </div>
                    <div class="float-end">
                        <p>Crafted with <span class='text-danger'><i data-feather="heart"></i></span> by <a
                                href="#">Ade Rohmat Maulana</a></p>
                    </div>
                </div>
            </footer>
        </div>
    </div>
    <script>
        imgInp.onchange = evt => {
        const [file] = imgInp.files
        if (file) {
            blah.src = URL.createObjectURL(file)
        }
        }
    </script>
    <script src="{{ url_for('static', filename='assets/js/feather-icons/feather.min.js')}}"></script>
    <script src="{{ url_for('static', filename='assets/vendors/perfect-scrollbar/perfect-scrollbar.min.js')}}"></script>
    <script src="{{ url_for('static', filename='assets/js/app.js')}}"></script>

    <script src="{{ url_for('static', filename='assets/vendors/chartjs/Chart.min.js')}}"></script>
    <script src="{{ url_for('static', filename='assets/vendors/apexcharts/apexcharts.min.js')}}"></script>
    <script src="{{ url_for('static', filename='assets/js/pages/dashboard.js')}}"></script>

    <script src="{{ url_for('static', filename='assets/js/main.js')}}"></script>
    <script src="{{ url_for('static', filename='assets/vendors/simple-datatables/simple-datatables.js')}}"></script>
    <script src="{{ url_for('static', filename='assets/js/vendors.js')}}"></script>

    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script src="https://cdn.datatables.net/1.10.25/js/jquery.dataTables.min.js"></script>
    <script>
        $(document).ready(function() {
            $('#example').DataTable();
        } );
    </script>
</body>

</html>